.u-section-1 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 90px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 429px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -1px 357px 0 22px;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.125rem;
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 349px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 96px;
  width: 96px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  width: 229px;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-1 .u-text-4 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 393px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 96px;
  width: 96px;
  margin: 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  width: 229px;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-1 .u-text-6 {
  line-height: 1.8;
  font-weight: 600;
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 405px;
}

.u-section-1 .u-container-layout-4 {
  padding: 29px 30px;
}

.u-section-1 .u-icon-3 {
  height: 96px;
  width: 96px;
  color: rgb(255, 193, 102) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  width: 229px;
  font-size: 1.875rem;
  margin: 25px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  letter-spacing: 3px;
  font-size: 1.125rem;
  border-style: none;
  font-weight: 700;
  text-transform: none;
  margin: 16px auto 0;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-icon-4 {
  font-size: 1.4445em;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 74px;
  min-width: 42px;
  margin: 36px auto 0;
}

.u-section-1 .u-icon-5 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-1 .u-icon-6 {
  height: 100%;
  color: rgb(0, 122, 185) !important;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 405px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 7px;
}

.u-section-1 .u-icon-7 {
  height: 96px;
  width: 96px;
  color: rgb(150, 147, 230) !important;
  margin: 0 auto;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 227px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 354px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 246px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 355px;
  }

  .u-section-1 .u-icon-1 {
    color: rgb(255, 138, 138) !important;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 324px;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(255, 138, 138) !important;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 334px;
  }

  .u-section-1 .u-icon-4 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 334px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 546px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 99px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 569px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 467px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 19px;
    padding-left: 20px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 1px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
    width: 165px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1066px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-1 {
    padding: 9px 41px 11px 40px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }
}